<% provide(:title, 'New Quiz') %>
<h1>New Quiz</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@quiz) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>


      <%= f.label :file %>
      <%= f.file_field :file %>

      <br/>

      
      <%= f.submit "Create quiz", class: "btn btn-large btn-primary" %>
    
    <% end %>
  </div>
</div>
